.sign-frm{
    margin: 1rem 3rem;
    padding: 3rem;
    background-color: #8397bdbe;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    color: #292942;
}

.sign-frm form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-frm input{
    width: 50%;
    margin: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 0.3rem;
    padding: 0.5rem;
    background-color: rgba(245, 245, 245, 0.534);
}
.sign-frm input[type="text"]:focus{
    border: none;
    background-color: rgba(245, 245, 245, 0.884);
}

.sign-frm input[type="submit"] {
    width: 5rem;
    padding: 0.5rem;
    border-radius: 0.6rem;
    border: none;
    background-color: lightgreen;
    cursor: pointer;
}