.Navbar{
    width: 100%;
    height: 3.5rem;
    position: fixed;
    background-color: whitesmoke;
    box-shadow: 0.2rem 0.2rem 1rem #a33327;
    z-index: 1;
}

.logo-img{
    height: 80%;
    margin-top: 0.3rem;
    float: left;
    margin-left: 1rem;
}

.nav-links{
    display: flex;
    float: right;
}

#search {
    height: 100%;
    margin: auto;
    padding: 0.3rem 0.3rem 0.3rem 2rem;
    border: 0.1rem solid #a33327;
    background-image: url('../icons/search.jpg');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: contain;
}


.nav-itm div{
    margin: 0.5rem 1rem;
    padding: 0.3rem;
    font-size: 1.2rem;
    color: #a33327;
}

.nav-itm div:hover{
    border-bottom: 0.2rem solid #a33327;
    border-top: 0.2rem solid #a33327;
    margin-top: 0.3rem;
}

.cart-img{
    height: 2rem;
    margin-top: 0.6rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
.cart-img:hover{
    height: 2.4rem;
    margin: 0.4rem 0.8rem 0 0.8rem;
}

